.contenedor {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.margen-titulo {
    background-color: rgb(9,74,136);
    /*color: #272626;*/
    color: #ececec;
    text-transform: uppercase;
    letter-spacing: 0.13rem;
}

.margen-seccion {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
}
.margen-seccion  a{
    color: #ececec;
}
.margen-seccion a:hover {
    color:rgb(93, 218, 246);
}
.encabezado {
    height:6.87rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo { 
    margin:0.5rem;
}
.menulist {
    list-style:none;
    display:flex;
    gap: 1rem;
}
.menulist li {
    font-size: 1rem;
    padding: 0 0.6rem;
}

.menulist li a {
    color:#ececec;
    font-weight: bold;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.menulist a:hover {
    color:rgb(93, 218, 246);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: rgb(187, 243, 245);
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}
a {
    text-decoration: none;
}
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
.formulario_contacto {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/*Inicio de pie */
.pie {
    width: 100%;
    color: #ececec;
}

.grupo1 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    padding: 1rem 0;
}

.pie-titulo {
   margin: 0.5rem;
}


.pie-oficinas-turismo {
    margin: 0.5rem;
    text-align: center;
}
.sede p:first-child {
    font-weight: bold;
}

.pie-social {
    margin: 0.5rem;
}

.pie-social a {
    color: #ececec;
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
}
.pie-social a:hover {
    color:rgb(93, 218, 246);
}


.grupo2 {
    text-align: center;
    padding: 1rem 0.7rem;
    background-color: #0a1a2a;
} 
.grupo2 .small {
    font-size: 0.9rem;
}




/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border:0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        padding: 1rem;
    }

    .abrir-menu {
        color: #343434;
    }

    .cerrar-menu {
        color:#ececec;
    }

    .menubar {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap:1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding:0.5rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        z-index:9999;
        
    }
    /*con javascript */
    .menubar.visible {
        opacity: 1;
        visibility: visible;
    }

    .menulist {
        flex-direction: column;
        align-items: end;
    }
    .menulist li a {
        color: #ececec;
    }
}

@media all and (max-width:540px) {
    
    .grupo1 {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
